@model List<DL.StudentEnrollment>

@{
    ViewBag.Title = "Course Schedule";
}

<h2>Schedule Course</h2>

<p>
    <div style="margin-bottom: 10px;">
        <a href="@Url.Action("Create")" class="btn btn-info" role="button"><span class="glyphicon glyphicon-plus"></span> Create New</a>
    </div>
</p>
<table class="table">
    <tr>
        <th>
            Schedule ID
        </th>

        <th>
            Course Code
        </th>
        <th>
           Course Name
        </th>
      
        <th>
           Start Date
        </th>
        <th>
           End Date
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.scheduleId)
        </td>

        <td>
            @Html.DisplayFor(model => item.courseCode)
        </td>
        <td>
            @Html.DisplayFor(model => item.courseName)
        </td>
       
        <td>
            @Html.DisplayFor(model => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(model => item.endDate)
        </td>
       
        <td>
            <a href='@Url.Action("EditCourseSchedule", new { id = item.scheduleId })' class="btn btn-info" role="button">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
            </a>

            <a href='@Url.Action("Index", new { id = item.scheduleId })' class="btn btn-info" role="button">
                <span class="glyphicon glyphicon-zoom-in"></span>
                Details
            </a>

            <a href='@Url.Action("DeleteCourseSchedule", new { id = item.usrScheduleId })'
               onclick="return confirm('Are you sure you wish to delete this course schedule?')" class="btn btn-info" role="button">
                <span class="glyphicon glyphicon-remove"></span>
                Delete
            </a>

            <!--
            @Html.ActionLink("Edit", "EditCourseSchedule", new { id = item.scheduleId }) |
            @Html.ActionLink("Details", "Index", new { id=item.scheduleId }) |
            @Html.ActionLink("Delete", "DeleteCourseSchedule", new { id = item.scheduleId }, 
            new { onclick = "return confirm('Are you sure you wish to delete this course schedule?');" })-->
        </td>
    </tr>
}

</table>
