@model IEnumerable<DL.ForumThread>

<div class="row">
    <div class="page-header">
        <h2>Live Forum</h2>
    </div>
    <div class="col-md-2">
        @Html.Partial("_ScheduleMenuPartial")
    </div>
    <div class="col-md-10">
        <div class="container">
            @Html.Partial("_Notifications")
            <form class="form-inline" action="@Url.Action("Index", "Forum")" method="post">
                <div class="form-group">
                    <label for="topic">Topic</label>
                    <input type="text" class="form-control" id="topic" name="title" />
                    <input type="hidden" name="scheduleId" value="@ViewBag.ScheduleId" />
                </div>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</button>
            </form>
            <table class="table forum table-striped" id="topicTable">
                <thead>
                    <tr>
                        <th class="cell-stat"></th>
                        <th>
                            <h3>Topic</h3>
                        </th>
                        <th class="cell-stat text-center hidden-xs hidden-sm">Posts</th>
                        <th class="cell-stat-2x hidden-xs hidden-sm">Last Post</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var f in Model)
                    {
                        <tr>
                            <td class="text-center"></td>
                            <td>
                                <h4><a href="@Url.Action("Index", "Forum", new { id = @f.ForumThreadID})">@f.Title</a></h4>
                            </td>
                            <td class="text-center hidden-xs hidden-sm">@f.ForumPosts.Count</td>
                            <td class="hidden-xs hidden-sm">
                                @if (f.ForumPosts.Count > 0)
                                {
                                    <span>by @f.GetLatestPost().User.Name</span><br />
                                    <small><i class="glyphicon glyphicon-time"></i> @f.GetLatestPost().CreatedDate</small>
                                }                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>