@model List<DL.StudentEnrollment>

@{
    ViewBag.Title = "Lecturer Schedule";
}

<h2>Lecturer Course Schedule</h2>


<table class="table">
    <tr>
        @*<th>
            Lecturer Schedule ID
        </th>*@
        <th>
            Course Schedule ID
        </th>

        <th>
            Course Code
        </th>
        <th>
            Course Name
        </th>

        <th>
            Lecturer Name
        </th>

        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(model => item.usrScheduleId)
            </td>*@

            <td>
                @Html.DisplayFor(model => item.scheduleId)
            </td>

            <td>
                @Html.DisplayFor(model => item.courseCode)
            </td>
            <td>
                @Html.DisplayFor(model => item.courseName)
            </td>

            <td>
                @Html.DisplayFor(model => item.lecturerName)
            </td>

            <td>
                @Html.DisplayFor(model => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.endDate)
            </td>

            <td>
                <a href='@Url.Action("EditLecturerSchedule", new { id = item.scheduleId })' class="btn btn-info" role="button">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit
                </a>

                <a href='@Url.Action("Index", new { id = item.scheduleId })' class="btn btn-info" role="button">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                    Details
                </a>

                <a href='@Url.Action("DeleteLecturerSchedule", new { id = item.usrScheduleId })'
                   onclick="return confirm('Are you sure you wish to delete this leturer from this course schedule?')" class="btn btn-info" role="button">
                    <span class="glyphicon glyphicon-remove"></span>
                        Delete
                        </a>

                <a href='@Url.Action("CreateEnrollment", new { id = item.scheduleId })' class="btn btn-info" role="button">
                    <span class="glyphicon glyphicon-plus"></span>
                    Enroll Student
                </a>

                     <!--
                @Html.ActionLink("Edit", "EditLecturerSchedule", new { id = item.scheduleId }) |
                @Html.ActionLink("Details", "Index", new { id = item.scheduleId }) |


                            @Html.ActionLink("Delete", "DeleteCourseSchedule", new { id = item.scheduleId },
                new { onclick = "return confirm('Are you sure you wish to delete this course schedule?');" }) |
                            @Html.ActionLink("Enroll Student", "CreateEnrollment", new { id = item.scheduleId })-->
</td>
        </tr>
    }

</table>
