@model IEnumerable<DL.Module>

<div class="row">
    <div class="page-header">
        <h2>Module</h2>
    </div>
    <div class="col-md-2">
        @Html.Partial("_ScheduleMenuPartial", (int) @ViewBag.ScheduleID)
    </div>
    <div class="col-md-10">
        <div class="container">
            @Html.Partial("_Notifications")
            @if (Context.User.IsInRole(JLearnWeb.Constant.ConstantFields.Lecturer))
            {
                <form class="form-inline" action="@Url.Action("Index", "Module")" method="post">
                    <div class="form-group">
                        <label for="title">Module Title</label>
                        <input type="text" class="form-control" id="title" name="moduleName" required />
                        <input type="hidden" name="scheduleId" value="@ViewBag.ScheduleId" />
                    </div>
                    @Html.AntiForgeryToken()
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</button>
                </form>
            }
            @foreach (var m in Model)
            {
                <div class="row">
                    <div class="col-md-10">
                        <h2>@m.ModuleName</h2>
                        <hr />

                        @if (Context.User.IsInRole(JLearnWeb.Constant.ConstantFields.Lecturer))
                        {
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="panel-group" id="accordion@(m.ModuleID)">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion@(m.ModuleID)" href="#collapse@(m.ModuleID)">
                                                        <span class="glyphicon glyphicon-plus"></span> Add Item
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse@(m.ModuleID)" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <form method="post" enctype="multipart/form-data" action="@Url.Action("AddDocument", "Module")">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Title</label>
                                                            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputFile">File input</label>
                                                            <input type="file" id="inputFile" name="inputFile" required />
                                                            <p class="help-block">Only ppt, pptx, mp4 is allowed.</p>
                                                        </div>
                                                        <input type="hidden" name="moduleId" value="@m.ModuleID" />
                                                        <input type="hidden" name="scheduleId" value="@ViewBag.ScheduleId" />
                                                        @Html.AntiForgeryToken()
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="row">
                            <div class="col-md-8">
                                @foreach (var d in m.Documents)
                                {
                                    if (d.Type == (int)DL.Document.DocumentType.File)
                                    {
                                        <div>
                                            <span>
                                                <span class="glyphicon glyphicon-file"></span> <a href="@Url.Action("Download", "Module", new { id = d.DocumentID })" target="_blank">@d.Title</a>
                                            </span>
                                            @if (Context.User.IsInRole(JLearnWeb.Constant.ConstantFields.Lecturer))
                                            {
                                                <form style="display:inline;" method="post" action="@Url.Action("DeleteDocument", "Module")" id="deleteDocForm@(d.DocumentID)">
                                                    <span class="glyphicon glyphicon-remove" style="cursor: pointer; margin-left: 10px;" onclick="$('#deleteDocForm@(d.DocumentID)').submit();"></span>
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="documentId" value="@d.DocumentID" />
                                                    <input type="hidden" name="scheduleId" value="@ViewBag.ScheduleId" />
                                                </form>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <span>
                                                <span class="glyphicon glyphicon-film"></span> <a href="@Url.Action("Download", "Module", new { id = d.DocumentID })" target="_blank">@d.Title</a>
                                            </span>
                                            @if (Context.User.IsInRole(JLearnWeb.Constant.ConstantFields.Lecturer))
                                            {
                                                <form style="display:inline;" method="post" action="@Url.Action("DeleteDocument", "Module")" id="deleteDocForm@(d.DocumentID)">
                                                    <span class="glyphicon glyphicon-remove" style="cursor: pointer; margin-left: 10px;" onclick="$('#deleteDocForm@(d.DocumentID)').submit();"></span>
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="documentId" value="@d.DocumentID" />
                                                    <input type="hidden" name="scheduleId" value="@ViewBag.ScheduleId" />
                                                </form>
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>