@model IEnumerable<DL.Quiz>

<div class="row">
    <div class="page-header">
        <h2>Live Quiz</h2>
    </div>
    <div class="col-md-2">
        @Html.Partial("_ScheduleMenuPartial", (int) @ViewBag.ScheduleId)
    </div>
    <div class="col-md-10">
        <div class="container">
            <form class="form-inline">
                <div class="form-group">
                    <label for="topic">Title</label>
                    <input type="text" class="form-control">
                </div>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Quiz</button>
            </form>
            <table class="table forum table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var q in Model.OrderByDescending(x => x.CreatedDate))
                    {
                        <tr>
                            <td><a href="@Url.Action("Detail", "Quiz", new { id = q.QuizID })">@q.Title</a></td>
                            <td>
                                <a href="@Url.Action("Live", "Quiz", new { id = q.QuizID })" class="btn btn-default" role="button"><span class="glyphicon glyphicon-play"></span> Start Quiz</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>