@model IEnumerable<DL.Quiz>

<div class="row">
    <div class="page-header">
        <h2>Live Quiz</h2>
    </div>
    <div class="col-md-2">
        @Html.Partial("_ScheduleMenuPartial", (int) @ViewBag.ScheduleId)
    </div>
    <div class="col-md-10">
        <div class="container">
            @Html.Partial("_Notifications")
            @if (Context.User.IsInRole(JLearnWeb.Constant.ConstantFields.Lecturer))
            {
                using (Ajax.BeginForm("Add", "Quiz", null, new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "quizList",
                    OnSuccess = "OnSuccess"
                },
                new { @class = "form-inline" }))
                {
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" id="title" required />
                        <input type="hidden" name="scheduleId" value="@ViewBag.ScheduleId" />
                    </div>
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Quiz</button>
                }
            }
            <table class="table forum table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="quizList">
                    @foreach (var q in Model.OrderByDescending(x => x.CreatedDate))
                    {
                        <tr>
                            <td>
                                @if (Context.User.IsInRole(JLearnWeb.Constant.ConstantFields.Lecturer))
                                {
                                    <a href="@Url.Action("Detail", "Quiz", new { id = q.QuizID })">@q.Title</a>
                                }
                                else
                                {
                                    @q.Title
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("Live", "Quiz", new { id = q.QuizID })" class="btn btn-default" role="button"><span class="glyphicon glyphicon-play"></span> Start Quiz</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryajax")
    <script type="text/javascript">
        function OnSuccess() {
            this.reset();

            $('#title').val('');
        }
    </script>
}