@model List<DL.StudentEnrollment>

@{
    ViewBag.Title = "Student Enrollment";
}

<h2>Student Enrollment</h2>

<p>
    @Html.ActionLink("Create New", "CreateEnrollment")
</p>

@using (Html.BeginForm("StudentSchedule", "Schedule", FormMethod.Post))
{
    <p>
        Find by Schedule ID: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Schedule ID
        </th>

        <th>
            Course Code
        </th>
        <th>
            Course Name
        </th>

        <th>
            Student Name
        </th>

        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.usrScheduleId)
            </td>
            <td>
                @Html.DisplayFor(model => item.scheduleId)
            </td>

            <td>
                @Html.DisplayFor(model => item.courseCode)
            </td>
            <td>
                @Html.DisplayFor(model => item.courseName)
            </td>

            <td>
                @Html.DisplayFor(model => item.studentName)
            </td>

            <td>
                @Html.DisplayFor(model => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.endDate)
            </td>

            <td>
                @Html.ActionLink("Edit", "EditStudentSchedule", new { id = item.usrScheduleId }) |
                <!--@Html.ActionLink("Details", "Index", new { id = item.usrScheduleId }) |-->
                @Html.ActionLink("Delete", "DeleteStudentSchedule", new { id = item.usrScheduleId },
            new { onclick = "return confirm('Are you sure you wish to remove this student from this schedule enrollment?');" })
            </td>
        </tr>
    }

</table>
}