@model List<DL.StudentEnrollment>

<div class="row">
    <div class="col-md-7">
        <div class="page-header">
            <h2>Home</h2>
        </div>

@foreach (var item in Model) {
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="@Url.Action("Index", "Schedule", new { id = @item.scheduleId })">@item.courseCode - @item.courseName</a>
            </div>
            <div class="panel-body">
              <br />
                Start Date: @item.startDate.ToString()<br />
                End Date: @item.endDate.ToString()
            </div>
        </div>
}
        <!--
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="@Url.Action("Index", "Schedule")">CRS002 - Course 2</a>
            </div>
            <div class="panel-body">
                Teacher: Ms. Teacher 2<br />
                Start Date: 13-Mar-2016<br />
                End Date: 25-Jun-2016
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="@Url.Action("Index", "Schedule")">CRS003 - Course 3</a>
            </div>
            <div class="panel-body">
                Teacher: Mr. Teacher 3<br />
                Start Date: 13-Mar-2016<br />
                End Date: 25-Jun-2016
            </div>
        </div>
            -->
    </div>
</div>