@model List<DL.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <div style="margin-bottom: 10px;">
        <a href="@Url.Action("Create")" class="btn btn-info" role="button"><span class="glyphicon glyphicon-plus"></span> Create New</a>
    </div>
 
</p>
<table class="table">
    <tr>
        <th>
          NRIC
        </th>
        <th>
           Student Name
        </th>
        <th>
            Email
        </th>
        <th>
           Obsoleted
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NRIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.ObsInd)
        </td>
        <td>

            <a href='@Url.Action("EditUser", new { id = item.UserID })' class="btn btn-info" role="button">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
            </a>

            <a href='@Url.Action("DeleteUser", new { id = item.UserID })'
               onclick="return confirm('Are you sure you wish to delete this student?')" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-remove"></span>
                Delete
            </a>

            <!--
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })-->
        </td>
    </tr>
}

</table>
