@model List<DL.Course>

@{
    ViewBag.Title = "List of Courses";
}

<h2>List of Courses</h2>

<p>
   
    <div style="margin-bottom: 10px;">
        <a href="@Url.Action("CreateCourse")" class="btn btn-info" role="button"><span class="glyphicon glyphicon-plus"></span> Create New</a>
    </div>

</p>
<table class="table">
    <tr>
        <th>
           Course Code

        </th>
        <th>
           Course Name
        </th>
        <th>
           Obsoleted

        </th>
        <th>
           Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObsInd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>

            <a href='@Url.Action("EditCourse", new { id = item.CourseID })' class="btn btn-info" role="button">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
            </a>

            <a href='@Url.Action("DeleteCourse", new { id = item.CourseID })'
               onclick="return confirm('Are you sure you wish to delete this course?')" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-remove"></span>
                Delete
            </a>

          
        </td>
    </tr>
}

</table>
